.post{
	.meta{
		margin-top: 2em;
		line-height: 2;
		font-size: 0.9em;
		color: $color-gray02;
		.date,
		.tags {
			display: inline-block;
		}
		@media screen and (max-width: 800px){
			margin-top: 15px;
			position: static;
			width: auto;
		}
		a{
			@include link-colors($color-gray02, $color-gray01);
			@include transition(0.3s);
		}
		.comments {
		 	display: block;
			padding-left: 20px !important;
		 }
		.tags {
		}
		.date, .tags, .comments{
			margin-right: 20px;
			padding-left: 15px;
			position: relative;
			&:before{
				color: $color-gray03;
				font: 1.3em $font-icon;
				line-height: 1.6em;
				position: absolute;
				left: 0;
			}
		}
		.date:before{content: "\f073";}
		.tags:before{content: "\f02c";}
		.comments:before{content: "\f075";}
		:first-child {
			margin-left: 0;
		}
	}
	hr {
		margin: 2em 0;
		border-width: 1px 0 0;
		border-style: solid;
		border-color: $color-gray03;
	}
}