$max-width: 600px;

*{
	margin: 0;
	padding: 0;
}
body{
	overflow-y: scroll;
	font-family: $font-default;
	font-weight: 300;
	font-size: 14px;
	// background-color: $color-background;
	background-color: #fff;
	// background-image: image-url('retina_dust.png');
	color: $color-gray01;
	@media screen and (max-width: 1040px){
		margin: 0 10px;
	}
	@media screen and (max-width: 600px){
		font-size: 13px;
	}
}
h1{
	font-size: 1.8em;
}
h2{
	font-size: 1.5em;
}
h3{
	font-size: 1.3em;
}
a{
	text-decoration: none;
	outline-width: 0;
	color: $color-main;
}
.alignleft{
	float: left;
}
.alignright{
	float: right;
}
.clearfix{
	@include pie-clearfix;
}
.inner{
	max-width: $max-width;
	margin: 0 auto;
	padding-left:3% !important;
	padding-right:3% !important;
	background-color: #fff;
}